// Breakpoints
$breakpoint-small-min-width: 768px;
$breakpoint-large-min-width: 1080px;
$breakpoint-very-large-min-width: 1500px;

// Colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;