.loading-spinner {
    animation: loaded 2s normal forwards;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 0.85;
    overflow: hidden;
    z-index: 999;

    &__content {
        border: 10px solid $primary-color;
        border-left-color: $third-color;
        border-right-color: $secondary-color;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

@keyframes loaded {
    0% {
        opacity: 0.85;
    }
    90% {
        opacity: 0.85;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
  }