.footer {
    background: #353535;
    color: white;
    margin-top: -50px;
    padding: 40px 30px;
    @include breakpoint-large {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    @include breakpoint-very-large {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    &__svg-link {
        width: auto;
    }
    &__svg {
        color: white;
        margin-bottom: 20px;
        width: 41%;

        @include breakpoint-small {
            width: 28%;
        }
        @include breakpoint-large {
            margin-bottom: 0;
            width: 100%;
        }
        @include breakpoint-very-large {
            margin-bottom: 0;
            width: 100%;
        }
    }
    &__list {
        a {
            color: white;
            text-decoration: none;
        }
        @include breakpoint-large {
            column-gap: 65px;
            display: flex;
        }
        @include breakpoint-very-large {
            column-gap: 65px;
            display: flex;
        }
    }
    &__link {
        margin-bottom: 10px;
        @include breakpoint-very-large {
            a {
                display: inline-block;
                width: 200px;
            }
        }
    }
    &__link:last-child {
        margin-bottom: 0;
    }
    &__icon {
        margin-right: 10px;
        &--small {
            font-size: 11px;
        }

        @include breakpoint-very-large {
            margin-right: 5px;
        }
    }
    &__list-column:last-child {
        margin-top: 10px;

        @include breakpoint-large {
            margin-top: 0;
        }
        @include breakpoint-very-large {
            margin-top: 0;
        }
    }
}